{% extends 'shop/basic.html' %}
{% block title %} About Us{% endblock %}
{% block body %}


<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">ContentCart</h1>
      <p>ContentCart is a dynamic online platform that seamlessly blends eCommerce with engaging blog content.
         It serves as a one-stop destination for users looking to explore a diverse range of products while also
          diving into insightful articles and tutorials. With an intuitive interface,
           ContentCart offers a rich shopping experience, featuring high-quality products 
           across various categories, complemented by informative blog posts that provide tips, 
           trends, and reviews. Whether you're searching for the latest gadgets or looking to read about
            lifestyle hacks, ContentCart delivers a holistic experience that caters to both your shopping 
            and informational needs.</p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Integrated Shopping Experience</h2>
        <p>Users can easily browse and purchase a wide variety of products directly from the site, with a streamlined checkout process that ensures convenience and efficiency.</p>
      </div>

      <div class="col-md-4">
        <h2>Informative Blog Content</h2>
        <p> ContentCart features a rich collection of blog posts that explore not only the products offered but also the technology behind them. The blog covers a wide range of topics, including in-depth buying guides that leverage the latest tech advancements </p>
      </div>
      <div class="col-md-4">
        <h2>Integrated Social Sharing</h2>
        <p>ContentCart encourages community interaction and brand visibility through its integrated social sharing features. Users can easily share their favorite products and blog posts on popular social media platforms</p>
        
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script></body>
</html>


{% endblock %}
